---
const pageTitle = "Unblocked games";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <img
        src="/images/games_logo_light.svg"
        alt="light mode version of the GAMEhub logo"
        width="300"
    />
    <body>
        <h1>{pageTitle}</h1>
    </body>

    <a href="https://theoneand33.github.io/gun-mayhem-2/">
        <img
            src="/images/gm2cover.png"
            alt="Gun mayhem 2 cover image"
            width="200"
            height="150"
        /><br />
        Gun mayhem 2
    </a>


</html>
