---
const pageTitle = "Unblocked games";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <style>
            .games-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
                gap: 20px;
            }

            .game-tile {
                text-align: center;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <img
            src="/games_logo_light.svg"
            alt="light mode version of the GAMEhub logo"
            width="300"
        />
        <h1>{pageTitle}</h1>

        <div class="games-grid">
            <a href="/gun-mayhem2" class="game-tile">
                <img
                    src="/gm2cover.png"
                    alt="Gun mayhem 2 cover image"
                    width="200"
                    height="150"
                />
                <br />
                Gun Mayhem 2
            </a>

            <a href="/hobo2" class="game-tile">
                <img
                    src="/hobo2cover.jpg"
                    alt="Hobo 2 cover image"
                    width="200"
                    height="150"
                />
                <br />
                Hobo 2
            </a>
            <a href="/riddle-school2" class="game-tile">
                <img
                    src="/Riddle-School-2_logo.png"
                    alt="Riddle School 2 cover image"
                    width="200"
                    height="150"
                />
                <br />
                Riddle School 2
            </a>
            <a href="/vex3" class="game-tile">
                <img
                    src="/vex-3cover.jpg"
                    alt="Vex 3 cover image"
                    width="200"
                    height="150"
                />
                <br />
                Vex 3
            </a>
        </div>
        <div
            style="position: fixed; bottom: 10px; left: 10px; font-size: 13px;"
        >
            <a href="/dmca.astro">DMCA</a>
        </div>
    </body>
</html>
