---
const pageTitle = "Vex 7";
---

<html lang="en">
    <a href="/" style="font-size: 24px">Home</a>
    <iframe
        src="https://html5.gamedistribution.com/0c454c9562d249d28ba3a2b50564042c/"
        frameborder="0"
        title={pageTitle}
        allowfullscreen
        style="position: fixed; top: 40px; left: 0; width: 100vw; height: 96vh; border: none;"
    ></iframe>


</html>
